<?xml version="1.0"?>
<robot name="my_mecanum_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="bot_core.xacro" />
    <xacro:include filename="wheel.xacro" />
    <xacro:include filename="gazebo_controller.xacro" />

    <xacro:mecanum_wheel
        prefix="front_left"
        x_reflect="1"  y_reflect="1"
        mesh_file="front_left_wheel_X3.STL"/>

    <xacro:mecanum_wheel
        prefix="front_right"
        x_reflect="1"  y_reflect="-1"
        mesh_file="front_left_wheel_X3.STL"/>

    <xacro:mecanum_wheel
        prefix="back_left"
        x_reflect="-1" y_reflect="1"
        mesh_file="back_left_wheel_X3.STL"/>

    <xacro:mecanum_wheel
        prefix="back_right"
        x_reflect="-1" y_reflect="-1"
        mesh_file="back_left_wheel_X3.STL"/>

</robot>